{
  "swagger": "2.0",
  "info": {
    "title": "People",
    "description": "This is a people api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "people.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "peoplelication/json"
  ],
  "paths": {
    "people/": {
      "get": {
        "summary": "retrieves all peoples",
        "description": "pulls all peoples, with filter by keyword",
        "operationId": "getPeoples",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across people",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "people response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/people"
              }
            }
          }
        },
        "tags": [
          "people",
          "peopleging"
        ]
      },
      "post": {
        "summary": "add people",
        "description": "add a new people",
        "operationId": "addPeople",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the people",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the people",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the people",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the people",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "people response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/people"
              }
            }
          }
        },
        "tags": [
          "people",
          "peopleging"
        ]
      }
    },
    "people/{slug}": {
      "get": {
        "summary": "Retrieve a people using its slug",
        "description": "Returns the people detail",
        "operationId": "getPeople",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the people, notice this is in the path, not a query variable",
            "required": "true",
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "people response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/people"
              }
            }
          }
        },
        "tags": [
          "people",
          "peopleging"
        ]
      },
      "put": {
        "summary": "update people",
        "description": "update people",
        "operationId": "updatePeople",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the people",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the people",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the people",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the people",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the people",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "people response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/people"
              }
            }
          }
        },
        "tags": [
          "people",
          "peopleging"
        ]
      },
      "delete": {
        "summary": "delete people",
        "description": "deletes an people",
        "operationId": "deletePeople",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the people",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "people response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/people"
              }
            }
          }
        },
        "tags": [
          "people",
          "peopleging"
        ]
      }
    }
  },
  "definitions": {
    "people": {
      "properties": {
        "name": {
          "description": "name of the people",
          "type": "string",
          "format": "label"
        },
        "description": {
          "description": "description of the people",
          "type": "string"
        },
        "url": {
          "description": "url for the people",
          "type": "string"
        },
        "tags": {
          "description": "tags for the people",
          "type": "string"
        },
        "slug": {
          "description": "slug for the people",
          "type": "string",
          "format": "id"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
